Port 60022
Protocol 2
ListenAddress 0.0.0.0
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key

GSSAPIAuthentication yes
PermitRootLogin yes
RSAAuthentication yes
PubkeyAuthentication yes
PasswordAuthentication yes
# temporary
UsePAM no
AllowTcpForwarding yes
# GatewayPorts no
X11Forwarding no
#X11DisplayOffset 10
#X11UseLocalhost yes
PrintMotd yes
PrintLastLog yes
TCPKeepAlive yes
UseLogin yes
#UsePrivilegeSeparation yes
PermitUserEnvironment yes
Compression delayed
ClientAliveInterval 60
ClientAliveCountMax 3
UseDNS yes

# override default of no subsystems
Subsystem       sftp    /usr/libexec/sftp-server
