# For variable descriptions look into defaults.def

DISABLE_ON=""
FORCE_GNU_COMPILER=""
APP_EXPORTS=""
APP_FULL_NAME=""
APP_HTTP_PATH=""
APP_NAME=""
APP_VERSION=""
APP_POSTFIX=""
APP_CONFIGURE_ARGS=""
APP_REQUIREMENTS=""
APP_COMPILER_ARGS=""
APP_LINKER_ARGS=""
APP_CONFIGURE_SCRIPT=""
APP_MAKE_METHOD=""
APP_INSTALL_METHOD=""
APP_SOURCE_DIR_POSTFIX=""
APP_AFTER_UNPACK_CALLBACK=""
APP_AFTER_CONFIGURE_CALLBACK=""
APP_AFTER_MAKE_CALLBACK=""
APP_AFTER_INSTALL_CALLBACK=""
APP_AFTER_PATCH_CALLBACK=""
APP_AFTER_EXPORT_CALLBACK=""
APP_SHA=""
APP_NO_CCACHE=""
APP_USER_INFO=""
APP_CURRENT_VERSION=""