# $FreeBSD: src/etc/mtree/BIND.chroot.dist,v 1.7 2009/12/15 05:14:39 dougb Exp $
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    dev             mode=0555
    ..
    etc
        namedb
            master
            ..
        ..
    ..
..
